.presente {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 85px;
  position: relative;
}

.tampa {
  width: 100%;
  height: 22%;
  background-color: #7aa944;
}

.corpo {
  width: 96.5%;
  height: 78%;
  background-color: #5c7e32;
}

.lacoVertical {
  background-color: red;
  width: 15px;
  height: 100%;
  position: absolute;
}

.lacoHorizontal {
  background-color: red;
  height: 15px;
  width: 96.5%;
  position:absolute;
  top: 45%;
}